{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Nom du produit: {{ product.name }}<br>
        Prix: {{product.price}}€<br>
        Description: {{product.description}}
    </div>
{% endblock %}